build/

.DS_Store

release/

release_x32/

release_x64/

debug/

debug_x32/

debug_x64/

profile/

profile_x32/

profile_x64/

deploy_x32/

deploy_x64/

build-drive_inverter_ctrl*

*.user*

*.autosave
config/version.hpp
